h4{
    text-align: center;
    margin-top: 60px;
    margin-left: 15%;
    font-size: 35px;
    color: #f0ebeb;
    text-shadow: 0px 0px 15px red,0px 0px 15px red,0px 0px 15px red,0px 0px 15px red;
    transition: 0.3s;
    width: 70%;
    

}
h4:hover{
    transform: scale(1.1);
    color: #9771d3;
    text-shadow: 0px 0px 15px rgb(29, 8, 122),0px 0px 15px rgb(47, 0, 255),0px 0px 15px rgb(4, 0, 255),0px 0px 15px rgb(0, 204, 255);
   
}
body{
    background: black;
}
.container-fluid{
    text-decoration: underline;
}